<div class="bg-blur"></div>
  <div class="card mx-auto mt-4 mb-4" style="width: 18rem;">
    <img class="card-img-top" src="<%= @cocktail.image_url %>" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= @cocktail.name %></h5>
      <% @cocktail.doses.each do |dose| %>
        <p class="card-text"><%= dose.description %> <%= dose.ingredient.name %> 
          <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, dose_path(dose), method: :delete %>
        </p>
      <% end %>
      <%= link_to '<i class="fas fa-plus"></i> <i class="fas fa-wine-bottle"></i>'.html_safe, new_cocktail_dose_path(@cocktail) %>
    </div>
  </div>

